.logo {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  font-family: raleway;

  @include tablet {
    margin-right: 23px;
    font-size: 26px;
  }

  @include desktop {
    margin-right: 47px;
  }

  &__first-part {
    color: var(--main-color-blue);
  }

  &__second-part {
    color: var(--secondary--black);
  }

  &__third-part {
    color: var(--main-color-white);
  }

  &--changed-decoration {
    text-decoration: none;
  }
}
