.our-customers {
  padding: 60px 0px;

  @include desktop {
    padding: 94px 0px;
  }

  &__name {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: calc((100% - (1 * 30px)) / 2);
    height: 92px;
    border: 1px solid var(--main-color-svg);
    fill: var(--main-color-svg);
    border-radius: 4px;
    cursor: pointer;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;

    @include tablet {
      flex-basis: calc((100% - (2 * 30px)) / 3);
    }

    @include desktop {
      flex-basis: auto;
      width: 170px;
    }

    > svg {
      max-width: 100%;
      height: 92px;
    }

    &:hover,
    &:focus {
      fill: var(--main-color-blue);
      border-color: var(--main-color-blue);
    }
  }
}
